  <div data-collapse="medium" data-animation="default" data-duration="400" class="navigation-bar w-nav">
    <div class="container w-container">
      <a href="/" class="brand-link w-nav-brand">
        <h1 class="brand-text"><strong class="important-text">rESUME dIRECT</strong></h1>
      </a>
      <button style="width:auto;" id = "contactBack">GO BACK</button>

      
      <div class="hamburger-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div>
    <div class="w-container">
      <div class="section-title-group">
        <h2 class="section-heading centered">Contact Us Today</h2>
      </div>
      <div class="form-wrapper w-form">
        <form id="email-form" name="email-form" data-name="Email Form" action="mailto:mikewithers313@gmail.com" method="post" class="form">

          <input type="text" class="form-field w-input" maxlength="256" name="Name" data-name="Name" placeholder="Enter your name..." id="Name" required="">

          <input type="email" class="form-field w-input" maxlength="256" name="Email" data-name="Email" placeholder="Enter your email..." id="Email" required="">

          <textarea id="field-2" name="field-2" placeholder="Message" maxlength="5000" data-name="Field 2" class="form-field text-area w-input"></textarea>

          <input type="submit" value="Send Message" data-wait="Please wait..." class="button full-width w-button"></form>

        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form :(</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer center">
    <div class="w-container">
      <div class="footer-text">Copyright Resume Direct Inc</div>
    </div>
  </div>

