
<div class ="createProfile">
    <button style="width:auto"><a href="/welcomeProfile">Go Back</a></button></button>

<h1>Create a New Profile</h1>


<form action="/userProfile/create" method="POST">


    <label for="">Name</label>
    <input type="text" name="name">

    <label for="">Work</label>
    <input type="text" name="work">

    <label for="">Interests</label>
    <input type="text" name="interests">

    <button>Submit</button>



</form>
</div>