
<div class ="createProfile">
    <div class= "createButton">
    <button style="width:auto" float="right"><a href="/welcomeProfile" style="color: white">Go Back</a></button></button>
</div>
<h1>Create a New Profile</h1>


<form action="/userProfile/create" method="POST">


    <label for="">Name</label>
    <input type="text" name="name">

    <label for="">Work</label>
    <input type="text" name="work">

    <label for="">Interests</label>
    <input type="text" name="interests">

    <button class ="button">Submit</button>



</form>
</div>