    <div class="orderPage">



<div class="pleaseWork">
    <div class="container w-container">
      <a href="/" class="brand-link w-nav-brand">
        <h1 class="brand-text"><strong class="important-text">rESUME dIRECT</strong></h1>
      </a>


<div class="orderButtons">
   <button style="width:auto;"><a href ="/welcomePage" style="color: white">Go Back</a></button>
<span style="color: white"> &nbsp;or &nbsp;</span>
<button style="width:auto;"><a href ="/" style="color: white">Logout</a></button>

</div>


</div>

    </div>
   



  </div>
    


<body>






<div id="Services" class="orderPage">




    <div class="w-container">
      <div class="section-title-group">
        <h2 class="section-heading centered"><strong data-ix="scale-on-scroll" id="service-heading">WHAT SERVICE CAN WE ASSIST YOU WITH?</strong></h2>
      </div>


      <div class="row w-row">
        <div class="w-col w-col-4 w-col-medium-4 w-col-small-small-stack">
          <div class="white-box"><img src="images/social-25-white.svg" class="grid-image">
            <h3 class="heading-2">Resume</h3>
                 <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="MX89PBR233S6G">
<table class="table2">
<tr><td><input type="hidden" name="on0" value="RESUME"></td></tr><tr><td><select name="os0">
  <option value="PRICE">PRICE $100.00 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
          </div>




     





        </div>


        <div class="w-col w-col-4 w-col-medium-4 w-col-small-small-stack">
          <div class="white-box"><img src="images/social-23-white.svg" width="210" class="grid-image">
            <h3 class="heading-3">Cover Letter</h3>
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="7HV7QBY49UXVL">
<table class="table1">
<tr><td><input type="hidden" name="on0" value="COVER LETTER"></td></tr><tr><td><select name="os0">
  <option value="COVER LETTER">COVER LETTER $100.00 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

          </div>
        </div>


        <div class="column w-col w-col-4 w-col-medium-4 w-col-small-small-stack">
          <div data-ix="bounce-in-scroll-in" class="white-box"><img src="images/social-08-white.svg" class="grid-image">
            <h3 data-ix="new-interaction-3" class="heading-4">EXPOSURE</h3>
            <p class="paragraph12">FREE OF CHARGE!!!</p>
          </div>
        </div>
      </div>
    </div>
  {{!-- </div> --}}

  <div class="viewCart">
  <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" class="viewCart">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIG1QYJKoZIhvcNAQcEoIIGxjCCBsICAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCPHuBWQ3WbVkuTlaToYkzBOvhMU8LJzcyib0MIFIxHvVA61AsNX70MqRb+clyj/tugaTapiS6B/MFFgFf9AJlSlIjvu0YAEctMIVfXI3DOLpAEQEv9ErRfvULEqE+pIrZSd4y3tYY1p4gxgGz4ygpFQw/1LBTcSu4ff3VXWuZDaDELMAkGBSsOAwIaBQAwUwYJKoZIhvcNAQcBMBQGCCqGSIb3DQMHBAiHhvhfHgHh4YAw6X3ErkRJCZqw59Y9vZC1d7utPjjxNJ5gI6zkcFkYWTgdUX9Gh5yeD2MTHyU5b8wuoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTgwOTE1MjE1MjU1WjAjBgkqhkiG9w0BCQQxFgQUhdAeIvZVprMug5gAcCcXHMBVmCcwDQYJKoZIhvcNAQEBBQAEgYCtNV1Rh3NwNIbqex13GyJcZxOR31aChSaExuZZsaQ6TuV+E36xfEh270nwNSOM0pQ1hASCnJf5fAjh4kNXrwIGz9fTRQD34cSQV7auKehgs2NTpK17/7lzQpfiojD6XAHq3wlzFLElUlkpb81sCn0YiOK1FtnxD7PlQngQ34+JlQ==-----END PKCS7-----
">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_viewcart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>
<div class="footer center">
    <div class="w-container">
      <div class="footer-text">Copyright Resume Direct Inc</div>
    </div>
  </div>
</body>
