{{!-- <div class="profile pic"></div> --}}
<h1>
    <h1>Welcome To {{user.name}}'s Profile Page!</h1>


    <h6>
    work: {{user.work}}

    </h6>

    <p>
    interest: {{user.interests}}

    </p>
  
  
  <a href="/editProfile">edit profile</a>
