{{!-- <div class="profile pic"></div> --}}

<div class="createProfile">

    <button style="width:auto"><a href="/welcomeProfile">Go Back</a></button></button>


    <h1>Welcome To {{user.name}}'s Profile Page!</h1>


    <h6>
    work: {{user.work}}

    </h6>

    <p>
    interest: {{user.interests}}

    </p>
  
  
  <a href="/editProfile">edit profile</a>
</div>