{{!-- <div class="profile pic"></div> --}}

<div class="createProfile">



  <div class= "createButton">

    <button style="width:auto" float "right"><a href="/welcomeProfile" style="color: white">Go Back</a></button></button>
</div>

    <h1 style="color: white">Welcome To {{user.name}}'s Profile Page!</h1>


    <h1 style="color: white">
    work: {{user.work}}

    </h1 >

    <h1 style="color: white">
    interest: {{user.interests}}

    </h1>
  
  
  <a href="/editProfile" style="color: white">edit profile</a>
</div>