

  <form action="/signup"class= "signup" method="POST" id="form-container">
    <div class="container">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>


      <label for="email"><b>Email</b></label>
      <input type="email" placeholder="Enter Email" name="email" required>



 <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">


      <label for="password"><b>Password</b></label>
      <input id ="password" type="password" placeholder="Enter Password" name="password" required>




      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

 {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>

      


      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>


      <div class="clearfix">
        <button type="button" class = "signupbtn"><a href="/">Cancel</a></button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
