

  <div class="welcomeNav" >
    <div class="container1 w-container">
      <div class="welcomeLogo">
      <a href="index.html" class="brand-link w-nav-brand">
        <h1 class="brand-text"><strong class="important-text">rESUME dIRECT</strong></h1>
      </a>
    </div>

    <div class="welcomePageButtons">


<button style="width:auto"><a href="/logout">Logout</a></button></button>
<button style="width:auto"><a href="/welcomePage">Go Back</a></button></button>

</div>
</div>
</div>











<div id="Pricing" class="pricing1">

    <div class="w-container">
      <div class="section-title-group">
        <h2 class="section-heading centered"><strong data-ix="scale-on-scroll">WHAT SERVICE CAN WE ASSIST YOU WITH?</strong></h2>
      </div>
        <div class="welcome">
      <div class="w-row">
        <div data-ix="fade-in-left-scroll-in" class="w-col w-col-6">
          <div class="white-box">
       


          <a href="/createProfile" class="button-6 w-button" id = "profileButton" style="width:auto;">Create Profile</a>
                    <a href="/showProfile/{{this._id}}" class="button-6 w-button" id = "profileButton2"style="width:auto;">View Profile</a></div>



        </div>



     
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer center">
    <div class="w-container">
      <div class="footer-text">Copyright Resume Direct Inc</div>
    </div>
  </div>




